<div class='task'>
  <dl>
    <dt>Title</dt>
    <dd><%= @task.title %></dd>

    <dt>Description</dt>
    <dd><%= @task.description %></dd>

    <dt>Priority</dt>
    <dd><%= @task.priority %></dd>
  </dl>
</div>